body
{
	background-color:white;
	color:#0062a3;
	text-decoration:none;
}

img
{
	border:0;
}

a:link
{
	text-decoration:underline;
	color:blue;
}

a:visited
{
	text-decoration:underline;
	color:blue;
}

a:hover
{
	text-decoration:underline;
	color:rgb(255,152,59);
}

a:active
{
	text-decoration:underline;
	color:rgb(255,152,59);
}
