body
{
	background-color:white;
	color:#29303b;
	text-decoration:none;
	width:80%;
}

img
{
	border:0;
}

a:link
{
	text-decoration:none;
	color:#8a3207;
}

a:visited
{
	text-decoration:none;
	color:#8a3207;
}

a:hover
{
	text-decoration:underline;
	color:#753206;
}

a:active
{
	text-decoration:underline;
	color:#753206;
}

.keyword        { color: #0000AA; }
.identifier     { color: #000000; }
.special        { color: #707070; }
.preprocessor   { color: #402080; }
.char           { color: teal; }
.comment        { color: #800000; }
.string         { color: teal; }
.number         { color: teal; }
.white_bkd      { background-color: #FFFFFF; }
.dk_grey_bkd    { background-color: #999999; }

pre.programlisting
{
	background-color: #faf9f9;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
}

.toc
{
	background-color: #fff8d5;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	padding:0.5em;
	width:80%;
}

/*
a.section:link
{
	text-decoration:none;
}

a.link:link
{
	text-decoration:none;
}
*/
